@page
@inject IViewLocalizer Localizer
@model RegisterConfirmationModel
@{
}

<h3>
    @Localizer["Register confirmation"]
</h3>

<p>
    @Localizer["Please check your email to confirm your account."]
</p>


