@page
@inject IViewLocalizer Localizer
@model RegistrationIsNotAllowedModel
@{
    ViewData["Title"] = "";
}

<h3>
    @Localizer["Registration is not allowed"]
</h3>

<p class="text-danger">@Localizer["Registration is not allowed."]</p>
