@page
@inject IViewLocalizer Localizer
@model ResetPasswordConfirmationModel
@{
}

<h3>
    @Localizer["Reset password confirmation"]
</h3>

<p>
    @Localizer["Your password has been reset."]
    <a asp-page="./Login">@Localizer["Please click here to log in"]</a>.
</p>
